.projectCardDark {
    background-color: #111;
    border: 1px solid #333;
}

.projectCardLight {
    background-color: #f0f0f0;
    border: 1px solid #ddd;
}

.projectCard{
    display: flex;
    flex-direction: column;
    padding: 20px;
    border-radius: 12px;
    overflow: hidden;

}

.projectTitleLight {
    font-weight: bold;
    color: #333;
}

.projectTitleDark {
    font-weight: bold;
    color: #f0f0f0;
}

.projectTitle {
    font-size: 30px;
    font-weight: bold;
}

.techBadgeWrapper{
    position: absolute;
    bottom: 4px;
    left: 12px;
    display: flex;
    flex-wrap: wrap;
    gap: 6px;
}

.techBadgeLight{
    color: #ddd;
    background-color: #333;
}

.techBadgeDark{
    color: #111;
    background-color: azure;
}

.techBadge {
    padding: 4px 10px;
    border-radius: 20px;
    font-size: 12px;
    cursor: pointer;
    margin-right: 8px;
    font-size: 14px;
}

.projectDesLight{
    color: #111;
}

.projectDesDark{
    color: #ddd;
}

.projectDes{
    font-size: 18px;
}

.linkWrapper{
    display: flex;
    gap: 12px;
    margin-top: auto;
}

.githubLink, .liveLink{
    display: inline-block;
    text-decoration: none;
    padding: 10px 20px;
    border-radius: 5px;
    font-size: 14px;
    font-weight: bold;
    margin-top: 10px;
}

.githubLinkDark, .liveLinkDark{
    background-color: #F2F2F2;
    color: #262626;
}

.githubLinkLight, .liveLinkLight{
    background-color:#292929;
    color: #F5F5F5;
}



.grid{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 24px;
}

.imageWrapper{
    position: relative;
}

.projectImage{
    width: 100%;
    height: 220px;
    object-fit: cover;
}
